* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Params {
  font-weight: 600;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Values {
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}